<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.idap.bdo.task.dao.TaskMappingMapper">
    <resultMap type="com.inspur.idap.bdo.task.data.TaskMapping" id="TaskResultMap">
    </resultMap> 
    
    <select id="findAllId" resultMap="TaskResultMap" parameterType="java.lang.String">
        SELECT 
            INSTANCE_ID,
            TASK_ID,
            CLUSTER_ID,
            CLUSTER_NAME,
            STATUS
        FROM WF_TASK_MAP
         <where>
			INSTANCE_ID = '${_parameter}'
		</where>
    </select>
    
    <insert id="add" parameterType="com.inspur.idap.bdo.task.data.TaskMapping">
		INSERT INTO WF_TASK_MAP (
			INSTANCE_ID,
			TASK_ID,
            CLUSTER_ID,
            CLUSTER_NAME,
            STATUS
		) VALUES (
			#{instanceId},
			#{taskId},
			#{clusterId},
			#{clusterName},
			#{status}
		)
    </insert>
    
    
    <update id="update" parameterType="com.inspur.idap.bdo.task.data.TaskMapping">
    	UPDATE 
			WF_TASK_MAP 
		SET 
			TASK_ID=#{taskId},
            CLUSTER_ID=#{clusterId},
            CLUSTER_NAME=#{clusterName},
            STATUS=#{status}
		WHERE 
			INSTANCE_ID =#{instanceId}
    </update>
    
    
    <delete id="delete" parameterType="java.lang.String">
		DELETE FROM WF_TASK_MAP
		WHERE INSTANCE_ID = ${instanceId}
    </delete>
</mapper>
